@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', "Roboto Thin";
}
.app {
    padding: 50px 0 0 100px;
    width: 100%;
    height: 100vh;
    background: no-repeat url("https://cdn.wallpapersafari.com/26/13/b9Wdk4.jpg") center / cover;
}
.todo {
    border: 3px solid wheat;
    margin: 15px 0;
    padding: 15px;
    width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0.8;
    animation: girl 1.5s ease-in;
}
@keyframes girl {
    from {opacity: 0;}
    to {opacity: 0.8;}
}

button, input{
    padding: 5px 10px;
    font-weight: bold;
    color: saddlebrown;
    background: wheat;
    text-transform: capitalize;
}

span {
    color: wheat;
    font-size: 20px;
    text-transform: capitalize;
}

@media screen and (max-width: 800px) {
    .app {
        background: url("https://cdn.wallpapersafari.com/26/13/b9Wdk4.jpg") right / cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 0 0 0 ;
    }
    .todo {
        background-color: gray;
    }
}

@media screen and (max-width: 550px) {
    .app {
        background: url("https://i.pinimg.com/550x/dd/70/e6/dd70e6a2349e9e1eb7947eb947d39165.jpg") center / cover;
        /*padding: 10px 0 0 50px;*/
    }
    .todo {
        border: 2px solid wheat;
        width: 300px;
    }
    span {
        font-weight: bold;
    }
    .editInput{
        width: 120px;
        margin-left: 10px !important;
    }
    span {
        font-size: 16px;
    }


}